<div class="header">
  <app-header-big></app-header-big>
  <app-header-small></app-header-small>
<!--  <div class="header__container header__container_big">-->
<!--    <div class="header__info">-->
<!--      <span>ПлантШоп</span>-->
<!--      <span>Пермь, +88005553535</span>-->
<!--    </div>-->
<!--    <nav class="header__navigation navigation">-->
<!--      <a-->
<!--        *ngFor="let item of tabsList"-->
<!--        [routerLink]="item.routerLink"-->
<!--        class="navigation__item"-->
<!--      >{{item.label}}</a>-->
<!--    </nav>-->
<!--  </div>-->
<!--  <div class="header__container header__container_small">-->
<!--    <p-button icon="pi pi-bars" (onClick)="showMobileMenu()"></p-button>-->
<!--    <p-sidebar [(visible)]="displayMobileMenu" [baseZIndex]="10000">-->
<!--      <ng-template pTemplate="header">Header Content</ng-template>-->
<!--      <ng-template pTemplate="content">Body Content</ng-template>-->
<!--      <ng-template pTemplate="footer">Footer Content</ng-template>-->
<!--    </p-sidebar>-->
<!--  </div>-->
</div>
